{% extends "myapp/layout/base.html" %}
{% load static %}

{% block content %}
<h1>Collections</h1>
<div class="container">
<div class="row">
{% for image in images %}
<div class="col-md-3 my-3">
    <div class="card collections_card">
        <img src="{{ image.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{image.title}}</h5>
            <p class="card-text">$50</p>
            <a href="{% url 'addCart_content' pk=image.id %}" class="btn btn-primary">Add to cart</a>
            
        </div>
    </div>
</div>
{% endfor %}
</div>
</div>

{% endblock content %}
    