{% extends "myapp/layout/base.html" %}
{% load static %}

{% block content %}

<h1>HOME</h1><div class="container">
    <div class="row">
        {% for image in images %}
        <div class="col-md-3 my-3">
            <div class="card home_card">
                <img src="{{ image.image.url }}" class="card-img-top" alt="{{ image.product_name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ image.product_name }}</h5>
                    <p class="card-text">${{ image.price }}</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'addCart_content' pk=image.id %}" class="btn btn-primary">Add to cart</a>
                    {% else %}
                    <a href="{% url 'login' %}?next={% url 'addCart_content' pk=image.id %}" class="btn btn-primary">Add to cart</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}
    