{% extends "myapp/layout/base.html" %}
{% load static %}

{% block content %}


<div class="container">
    <div class="row">

        {% for category in categories %}
      
          <div class="col-md-6">
      
            <div class="card product-category h-100 w-100">  <a href="{% url 'products_by_category' category.id %}">
                <img src="{% static 'myapp/assets/mobile-offers.jpg' %}"  class="category_img" alt="" srcset="">
              </a>
              <div class="card-body">
                <h4 class="card-title text-center"> {{ category.name }} </h4>
              </div>
            </div>
          </div>
      
        {% endfor %}
      </div>
</div>

     {% endblock content %}
    
