{% extends "myapp/layout/base.html" %}
{% load static %}

{% block content %}
<h1>Product List</h1>
<a href="{% url 'product_create' %}">Create New Product</a>
<ul>
    {% for product in products %}
    <li>
        {{ product.product_name }} - {{ product.price }}
        <img href="{{product.image.url}}" height=100px;>
        <a href="{% url 'product_update' product.pk %}">Edit</a>
        <a href="{% url 'product_delete' product.pk %}">Delete</a>
    </li>
    {% endfor %}
</ul>


<ul>
    {% for category in categories %}
    <li>
        <a href="{% url 'products_by_category' category.id %}">{{ category.name }}</a>
    </li>
    {% endfor %}
</ul>
     {% endblock content %}
    
